.player-overlay {
  transition: height 0.5s ease-in-out;
}

.player-overlay.visible {
  height: 100%;
}

.player-overlay.hidden {
  height: 0px;
}

.react-player {
  min-height: 0px;
  transition: height 0.5s ease-in-out;
}

.react-player.visible {
  height: 100%;
}

.react-player.hidden {
  height: 0px;
}

.overlay-counter {
  font-family: 'Future Glitch';
}