.field-item {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  background: #2a0035 url(/images/grain.svg);
  /* background-color: #370143; */
  background-blend-mode: multiply;
  /* deep purple base */
  border: 4px solid #d70085;
  border-radius: 10px;
  /* vibrant magenta border */
  box-shadow:
    0 0 0 2px #ff3cac,
    /* bright neon inner edge */
    0 0 0 4px #670070,
    /* darker purple border step */
    inset -2px -2px 0 #0e001e;
  /* inner shadow for depth */
  padding: 8px;
  font-family: 'Press Start 2P', monospace;
  /* retro pixel font */
  font-size: x-large;
  color: #ffcc00;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.field-item-revealed {
  background: #21ca13;
  box-shadow:
    0 0 0 2px #ff3cac,
    /* bright neon inner edge */
    0 0 0 4px #670070,
    /* darker purple border step */
    inset -2px -2px 0 #297127;
  /* inner shadow for depth */
}

.field-key {
  font-weight: bold;
}